name: PR on master

on:
  pull_request:
    paths: 'libs/**'
    branches:
      - master
    types: [opened, reopened, synchronize]

jobs:
  verify:
    name: Pull request
    runs-on: ubuntu-latest

    outputs:
      nx_build_libs: ${{ steps.build.outputs.nx_build_libs }}
      nx_affected_libs: ${{ steps.affected.outputs.nx_affected_libs }}

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      # Checkout code
      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: master

      - name: Cache yarn
        uses: actions/cache@master
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Cache node_modules
        uses: actions/cache@master
        with:
          path: ${{ github.workspace }}/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: Install dependencies
        run: yarn

      - name: Setup Node.js ${{ matrix.node-version }} with GitHub Package Registry
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}

      - name: Affected libs
        id: affected
        run: |
          git fetch --no-tags --prune --depth=5 origin master
          node ./tools/scripts/affected.js  --base=${{ github.base_ref }} --head=${{ github.head_ref }}

      - name: Linter
        run: yarn affected:lint --base=${{ github.base_ref }} --head=${{ github.head_ref }}

      - name: Test
        run: yarn affected:test --base=${{ github.base_ref }} --head=${{ github.head_ref }}

      - name: E2e
        run: yarn affected:e2e --base=${{ github.base_ref }} --head=${{ github.head_ref }}





